<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header class="ion-no-border">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        Sign in to Card mobile
      </ion-label>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Tarjetas</ion-item>
      <ion-item>Preguntas</ion-item>
      <ion-item>Soporte</ion-item>
      <ion-item>Configuracion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>